.machinepark {
    position: relative;
    &__bg {
        background-color: $brokenWhite;
        height: 80%;
        width: 100%;
        position: absolute;
        z-index: -10;
    }
    @include breakpoint-up(large) {
        .accent {
            margin-top: -40px;
            margin-bottom: 2rem;
            img {
                width: 370px;
            }
        }
        .section_title {
            margin-bottom: 2rem;
        }
        &__wrapper {
            width: 100%;
            display: flex;
        }
        img {
            width: 100%;
        }
        .images__wrapper {
            width: 50%;
            text-align: right;
            background-image: url('../img/index/machine3.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .text__wrapper {
            width: 50%;
            padding-left: 5rem;
            margin-bottom: 20rem;
            h1 {
                margin-top: 0;
                text-transform: uppercase;
            }
            p {
                font-weight: 300;
                line-height: 2.5ch;
            }
        }
        // &__wrapper {
        //     width: 100%;
        //     display: flex;
        // }
        // .images__wrapper {
        //     width: 50%;
        //     height: 80vh;
        //     display: flex;
        //     img {
        //         width: 100%;
        //     }
        //     .images__left {
        //         float: left;
        //         height: 100%;
        //         overflow: hidden;
        //         .img1 {
        //             overflow: hidden;
        //             height: 48%;
        //         }
        //         .img2 {
        //             margin-top: 1rem;
        //             height: 48%;
        //         }
        //     }
        //     .images__right {
        //         margin-left: 1rem;
        //         float: right;
        //         overflow: hidden;
        //         .img3 {
        //             height: 100%;
        //         }
        //     }
        // }
        // .text__wrapper {
        //     padding: 5rem;
        //     width: 50%;
        // }
        &__img {
            display: none;
        }
    }
    @include breakpoint-down(large) {
        .accent {
            display: none;
        }
        .section_title {
            margin-bottom: 1rem;
        }
        &__wrapper {
            width: 100%;
        }
        .images__wrapper {
            // height: 80cvh;
            // display: flex;
            width: 100%;
            img {
                width: 100%;
                padding-bottom: 0.5rem;
            }
        }
        .text__wrapper {
            h1 {
                margin-bottom: 0;
            }
            p {
                font-weight: 300;
                line-height: 2.5ch;
            }
        }
        &__bg {
            height: 100%;
        }
        &__img {
            margin-top: 2rem;
            height: 250px;
            width: 100%;
            background-image: url('../img/machine3.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}