// Index
@import "variables";
@import "loader";
@import "mixins";
@import "animations";
@import "transition";
@import "globals";
@import "nav";
@import "header";
@import "hero";
@import "over";
@import "machine";
@import "proces";
@import "machinepark";
@import "team";
@import "cta";
@import "footer";
// Producten
@import "producten/nav";
@import "producten/header";
@import "producten/hero";
@import "producten/items";
// Machinepark
@import "machinepark/nav";
@import "machinepark/hero";
@import "machinepark/frezen";
@import "machinepark/etc";
@import "machinepark/selection";
//Contact
@import "contact/nav";
@import "contact/hero";
@import "contact/info";
@import "contact/google";

// to fix flickering in chrome
html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

// [data-load-container] {
// 	position: fixed;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	width: 100vw;
// }